---

- name: Install pip module dependency
  become: true
  ansible.builtin.package:
    name: python3-packaging
    state: present

- name: Locate resolve executable
  become: true
  become_user: "{{ user }}"
  environment:
    PATH: "{{ ansible_env.PATH }}:{{ user_path }}"
  ansible.builtin.command:
    cmd: "which resolve"
  register: dresolve_path
  changed_when: false

- name: Resolve symlink to get real path
  become: true
  become_user: "{{ user }}"
  ansible.builtin.command:
    cmd: readlink -f "{{ dresolve_path.stdout }}"
  changed_when: false
  register: dresolve_full_path

- name: Set davinci resolve installation root
  ansible.builtin.set_fact:
    dresolve_install_dir: "{{ dresolve_full_path.stdout | dirname | dirname }}"

- name: Ensure dresolve dev virtualenv exists with latest pip
  become: true
  become_user: "{{ user }}"
  ansible.builtin.pip:
    name: pip
    state: latest
    virtualenv: "{{ dresolve_venv_path }}"
    virtualenv_command: "python3 -m venv"

- name: Install davinci resolve dev packages
  become: true
  become_user: "{{ user }}"
  loop: "{{ dresolve_python_modules }}"
  ansible.builtin.pip:
    name: "{{ item }}"
    virtualenv: "{{ dresolve_venv_path }}"

- name: Get python version
  become: true
  become_user: "{{ user }}"
  ansible.builtin.command:
    cmd: "python3 -c \"import sys; print(f'python{sys.version_info.major}.{sys.version_info.minor}')\""
  changed_when: false
  register: python_version

- name: Create path link to maya install packages
  become: true
  become_user: "{{ user }}"
  ansible.builtin.copy:
    content: |
      {{ dresolve_install_dir }}/Developer/Scripting/Modules
    dest: "{{ dresolve_venv_path }}/lib/{{ python_version.stdout }}/site-packages/dresolve_path.pth"
    mode: "0755"
